.nav{
    background-color: #EC5151;
    width: 100%;
    height: 100vh;
}
.navPadding{
    padding: 0px !important;
}
.logoNav{
    width: 230px;
    height: 170px;
    margin: 20px auto;
}

.order{
    background-color: #ECEFF1;
    margin: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.decal{
    margin-left: 15px;
    font-style: italic;
    font-size: 14px;
}
