button{
    background-color: #EC5151;
    color: white;
}

button:focus {
  outline: none;
  border-color: white;
  box-shadow: none;
}

.active{
    background-color: #cb2d3e;
}

input:focus {
  outline: none;
  background-color: white;
  border-color: white;
  box-shadow: none;
}

h1.subTitle{
    color: #cb2d3e;
    margin: 20px 0;
}

a.trash{
    color: black;
}

a:hover.trash{
    color: #cb2d3e;
}
